<!DOCTYPE html>
<html>
<head>
  <title>Add a new song</title>
</head>
<body>
  <form action="/playlist" method="POST">
    <input type="text" name="name" placeholder="Song">
    <input type="text" name="artist" placeholder="Artist">
    <button type="submit">Save</button>
  </form>
</body>
</html>