<html>
<head>
  <title>Playlist</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Here's your current playlist:</h1>
  <ol>
    <% @playlist_database.each do |song| %>
      <li><%= song['name'] %>, <%= song['artist'] %>
      </li>
    <% end %>
  </ol>
  <a href="song/new" id="add">Click here to add a new song.</a>
</body>
</html>