<html>
<head>
  <title>Playlist</title>
</head>
<body>
  <h1>Here's your current playlist:</h1>
  <ol>
    <% @playlist_database.each do |song| %>
      <li><%= song['name'] %>, <%= song['artist'] %>
      </li>
    <% end %>
  </ol>
</body>
</html>